.f-nav ul, .footer-nav ul, .logo-list ul, .content-section ul, .social-networks, .article-list ul, .sub-menu-1 ul,
.sub-menu ul, .navigation, .header-r {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden;
}

@font-face {
  font-family: "Graphik";
  src: url("https://gopages.segment.com/rs/667-MPQ-382/images/Graphik-Regular.woff2") format("woff2"), url("https://gopages.segment.com/rs/667-MPQ-382/images/Graphik-Regular.woff") format("woff");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  src: url("https://gopages.segment.com/rs/667-MPQ-382/images/Graphik-Medium.woff2") format("woff2"), url("https://gopages.segment.com/rs/667-MPQ-382/images/Graphik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  src: url("https://gopages.segment.com/rs/667-MPQ-382/images/Graphik-Semibold.woff2") format("woff2"), url("https://gopages.segment.com/rs/667-MPQ-382/images/Graphik-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon/icomoon.eot?88daf");
  src: url("../../fonts/icomoon/icomoon.eot?88daf#iefix") format("embedded-opentype"), url("../../fonts/icomoon/icomoon.ttf?88daf") format("truetype"), url("../../fonts/icomoon/icomoon.woff?88daf") format("woff"), url("../../fonts/icomoon/icomoon.svg?88daf#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-arrow-right:before {
  content: "\e902";
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

body {
  color: #5c4d6b;
  background: #f7f8fc;
  font: 16px/1.5 "Graphik", "Arial", "Helvetica", sans-serif;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}

.gm-style img {
  max-width: none;
}

@media only screen and (min-width: 1025px) {
  a[href^=tel], a[href^=skype], a[href^=sms] {
    cursor: default;
    pointer-events: none;
  }
}
strong {
  font-weight: 600;
}

#wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0 0.5em;
  color: inherit;
}

h1, .h1 {
  font-size: 32px;
  line-height: 1.25;
}
@media screen and (min-width: 992px) {
  h1, .h1 {
    font-size: 46px;
  }
}

h2, .h2 {
  font-size: 28px;
  line-height: 1.4286;
}
@media screen and (min-width: 992px) {
  h2, .h2 {
    font-size: 40px;
    line-height: 1.2;
  }
}

h3, .h3 {
  font-size: 24px;
}
@media screen and (min-width: 992px) {
  h3, .h3 {
    font-size: 36px;
  }
}

h4, .h4 {
  font-size: 20px;
}
@media screen and (min-width: 992px) {
  h4, .h4 {
    font-size: 32px;
  }
}

h5, .h5 {
  font-size: 18px;
}
@media screen and (min-width: 992px) {
  h5, .h5 {
    font-size: 28px;
  }
}

h6, .h6 {
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  h6, .h6 {
    font-size: 24px;
  }
}

p {
  margin: 0 0 1em;
}

a {
  color: #0000ee;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background 0.3s ease-in-out;
}
a:hover, a:focus {
  text-decoration: none;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

.mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
input[type=url],
input[type=date],
textarea {
  -webkit-appearance: none;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #352446;
  color: rgba(237, 235, 239, 0.7);
  padding: 10px 16px 12px;
  height: 52px;
  background: #352446;
  font-size: 16px;
  outline: none;
  width: 100%;
  margin-bottom: 16px;
}
@media screen and (min-width: 576px) {
  .mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
input[type=url],
input[type=date],
textarea {
    height: 56px;
  }
}
@media screen and (min-width: 992px) {
  .mktoForm input[type=text],
.mktoForm input[type=url],
.mktoForm input[type=email],
.mktoForm input[type=tel],
.mktoForm input[type=number],
.mktoForm input[type=date],
input[type=text],
input[type=tel],
input[type=email],
input[type=search],
input[type=password],
input[type=url],
input[type=date],
textarea {
    padding: 10px 19px 14px;
  }
}
.mktoForm input[type=text]:focus, .mktoForm input[type=text]:hover,
.mktoForm input[type=url]:focus,
.mktoForm input[type=url]:hover,
.mktoForm input[type=email]:focus,
.mktoForm input[type=email]:hover,
.mktoForm input[type=tel]:focus,
.mktoForm input[type=tel]:hover,
.mktoForm input[type=number]:focus,
.mktoForm input[type=number]:hover,
.mktoForm input[type=date]:focus,
.mktoForm input[type=date]:hover,
input[type=text]:focus,
input[type=text]:hover,
input[type=tel]:focus,
input[type=tel]:hover,
input[type=email]:focus,
input[type=email]:hover,
input[type=search]:focus,
input[type=search]:hover,
input[type=password]:focus,
input[type=password]:hover,
input[type=url]:focus,
input[type=url]:hover,
input[type=date]:focus,
input[type=date]:hover,
textarea:focus,
textarea:hover {
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
}
.mktoForm input[type=text]::-webkit-input-placeholder,
.mktoForm input[type=url]::-webkit-input-placeholder,
.mktoForm input[type=email]::-webkit-input-placeholder,
.mktoForm input[type=tel]::-webkit-input-placeholder,
.mktoForm input[type=number]::-webkit-input-placeholder,
.mktoForm input[type=date]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=tel]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=search]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder,
input[type=url]::-webkit-input-placeholder,
input[type=date]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: rgba(237, 235, 239, 0.7);
}
.mktoForm input[type=text]::-moz-placeholder,
.mktoForm input[type=url]::-moz-placeholder,
.mktoForm input[type=email]::-moz-placeholder,
.mktoForm input[type=tel]::-moz-placeholder,
.mktoForm input[type=number]::-moz-placeholder,
.mktoForm input[type=date]::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=tel]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=search]::-moz-placeholder,
input[type=password]::-moz-placeholder,
input[type=url]::-moz-placeholder,
input[type=date]::-moz-placeholder,
textarea::-moz-placeholder {
  opacity: 1;
  color: rgba(237, 235, 239, 0.7);
}
.mktoForm input[type=text]:-moz-placeholder,
.mktoForm input[type=url]:-moz-placeholder,
.mktoForm input[type=email]:-moz-placeholder,
.mktoForm input[type=tel]:-moz-placeholder,
.mktoForm input[type=number]:-moz-placeholder,
.mktoForm input[type=date]:-moz-placeholder,
input[type=text]:-moz-placeholder,
input[type=tel]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=search]:-moz-placeholder,
input[type=password]:-moz-placeholder,
input[type=url]:-moz-placeholder,
input[type=date]:-moz-placeholder,
textarea:-moz-placeholder {
  color: rgba(237, 235, 239, 0.7);
}
.mktoForm input[type=text]:-ms-input-placeholder,
.mktoForm input[type=url]:-ms-input-placeholder,
.mktoForm input[type=email]:-ms-input-placeholder,
.mktoForm input[type=tel]:-ms-input-placeholder,
.mktoForm input[type=number]:-ms-input-placeholder,
.mktoForm input[type=date]:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=tel]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=search]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder,
input[type=url]:-ms-input-placeholder,
input[type=date]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: rgba(237, 235, 239, 0.7);
}
.mktoForm input[type=text].placeholder,
.mktoForm input[type=url].placeholder,
.mktoForm input[type=email].placeholder,
.mktoForm input[type=tel].placeholder,
.mktoForm input[type=number].placeholder,
.mktoForm input[type=date].placeholder,
input[type=text].placeholder,
input[type=tel].placeholder,
input[type=email].placeholder,
input[type=search].placeholder,
input[type=password].placeholder,
input[type=url].placeholder,
input[type=date].placeholder,
textarea.placeholder {
  color: rgba(237, 235, 239, 0.7);
}

select {
  -webkit-border-radius: 5px;
}

textarea {
  resize: vertical;
  vertical-align: top;
  min-height: 150px;
}

.mktoForm .mktoButton,
button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #52BD94;
  border: 2px solid #52BD94;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  padding: 13px 22px;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background 0.3s ease-in-out;
}
@media screen and (min-width: 992px) {
  .mktoForm .mktoButton,
button,
input[type=button],
input[type=reset],
input[type=file],
input[type=submit] {
    font-size: 16px;
  }
}
.mktoForm .mktoButton:hover,
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=file]:hover,
input[type=submit]:hover {
  background: #068465;
  border-color: #068465;
}

.form {
  padding: 25px 0 18px;
}
@media screen and (min-width: 992px) {
  .form {
    padding-top: 22px;
  }
}
@media screen and (min-width: 576px) {
  .form input[type=email] {
    flex: 1;
    margin-right: 9px;
  }
}
@media screen and (min-width: 576px) {
  .form form {
    display: flex;
    max-width: 407px;
    align-items: flex-start;
  }
}
.form button {
  display: block;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .form button {
    width: auto;
  }
}

.col-xs-1, .col-xls-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-xls-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-xls-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-xls-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-xls-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-xls-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-xls-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-xls-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-xls-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-xls-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-xls-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-xls-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  min-height: 1px;
  width: 100%;
}
@media (max-width: 767px) {
  .col-xs-1, .col-xls-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-xls-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-xls-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-xls-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-xls-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-xls-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-xls-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-xls-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-xls-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-xls-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-xls-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-xls-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.col-xs-1 {
  width: 8.3333333333%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  width: 16.6666666667%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  width: 66.6666666667%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .col-xls-1 {
    width: 8.3333333333%;
  }

  .col-xls-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-xls-2 {
    width: 16.6666666667%;
  }

  .col-xls-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-xls-3 {
    width: 25%;
  }

  .col-xls-offset-3 {
    margin-left: 25%;
  }

  .col-xls-4 {
    width: 33.3333333333%;
  }

  .col-xls-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-xls-5 {
    width: 41.6666666667%;
  }

  .col-xls-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-xls-6 {
    width: 50%;
  }

  .col-xls-offset-6 {
    margin-left: 50%;
  }

  .col-xls-7 {
    width: 58.3333333333%;
  }

  .col-xls-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-xls-8 {
    width: 66.6666666667%;
  }

  .col-xls-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-xls-9 {
    width: 75%;
  }

  .col-xls-offset-9 {
    margin-left: 75%;
  }

  .col-xls-10 {
    width: 83.3333333333%;
  }

  .col-xls-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-xls-11 {
    width: 91.6666666667%;
  }

  .col-xls-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-xls-12 {
    width: 100%;
  }

  .col-xls-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1310px;
}
@media (max-width: 767px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .row {
    margin-left: -24px;
    margin-right: -24px;
  }
}

.row-height > [class*=col-] {
  display: flex;
  flex-wrap: wrap;
}
.row-height > [class*=col-] > * {
  width: 100%;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

#header {
  background: #1C0732;
  color: #A89CB4;
  padding: 25px 0;
  position: relative;
  z-index: 999;
}
@media screen and (min-width: 768px) {
  #header {
    padding: 33px;
  }
}
@media screen and (min-width: 992px) {
  #header {
    padding: 15px 35px;
  }
}
@media screen and (min-width: 1200px) {
  #header {
    padding: 15px 65px;
  }
}
#header .container {
  display: flex;
  align-items: center;
}
#header .btn {
  min-width: 0;
  padding: 7px 22px 11px;
}
@media screen and (min-width: 992px) {
  #header .btn {
    min-width: 120px;
    padding: 6px 22px 8px;
  }
}
@media screen and (min-width: 1200px) {
  #header .btn {
    min-width: 161px;
  }
}
#header .logo {
  font-size: 0;
  max-width: 120px;
  flex: 0 0 120px;
  position: relative;
  z-index: 3;
}
#header .nav-holder {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  height: 100vh;
  padding-top: 94px;
  flex: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
@media screen and (min-width: 992px) {
  #header .nav-holder {
    height: auto;
    background: none;
    position: static;
    width: auto;
    padding: 0;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 991px) {
  .nav-active #header .nav-holder {
    opacity: 1;
    visibility: visible;
  }
}
#header .nav-holder .hasdrop-a {
  position: relative;
}
#header .nav-holder .hasdrop-a:after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url(https://gopages.segment.com/rs/667-MPQ-382/images/arrow-right-black.svg);
  width: 7px;
  height: 11px;
  content: "";
  background-size: cover;
}
@media screen and (min-width: 992px) {
  #header .nav-holder .hasdrop-a:after {
    display: none;
  }
}
#header .nav-holder .hasdrop-a:hover:before {
  color: #52bd94;
}
#header .nav-holder .go-back {
  position: absolute;
  top: 0;
  left: 24px;
  right: 24px;
  padding: 3px 20px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
  color: #1c0732;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  #header .nav-holder .go-back {
    left: 48px;
    right: 48px;
  }
}
@media screen and (min-width: 992px) {
  #header .nav-holder .go-back {
    display: none;
  }
}
#header .nav-holder .go-back:before {
  position: absolute;
  left: 0;
  top: 7px;
  background: url(https://gopages.segment.com/rs/667-MPQ-382/images/arrow-left-black.png);
  width: 14px;
  height: 14px;
  content: "";
  background-size: cover;
}
#header .wrap {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  #header .wrap {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  #header .wrap {
    flex-direction: row;
    align-items: center;
    flex: 1;
  }
}

.header-r {
  display: flex;
  align-items: center;
  padding: 26px 15px 5px;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .header-r {
    width: auto;
    margin: 0 -20px;
    padding: 0;
  }
}
@media (max-width: 991px) {
  .header-r a {
    display: block;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .header-r .white-link {
    border: 2px solid #6156BB;
    font-size: 16px;
    line-height: 1.6;
    color: #6156BB;
    border-radius: 5px;
    text-decoration: none;
    padding: 7px 22px 11px;
  }
  .header-r .white-link:hover {
    background: #6156BB;
    color: #fff;
  }
}
.header-r li {
  padding: 0 10px;
  flex: 1 0 0%;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .header-r li {
    padding: 0 20px;
    flex: auto;
    max-width: none;
    width: auto;
  }
}

.drop-down {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding-top: 25px;
  font-size: 14px;
  line-height: 1.14;
  display: block !important;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  height: calc(100vh - 94px);
  overflow: hidden;
  overflow-y: auto;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .drop-down {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 50px);
    max-width: 910px;
    height: auto !important;
    opacity: 0;
    visibility: hidden;
  }
}
.drop-down .inner {
  background: #fff;
}
@media screen and (min-width: 992px) {
  .drop-down .inner {
    border-radius: 9px;
    display: flex;
    overflow: hidden;
  }
}
.drop-down .col {
  padding: 28px 24px 16px;
}
@media screen and (min-width: 768px) {
  .drop-down .col {
    padding-left: 48px;
    padding-right: 48px;
  }
}
@media screen and (min-width: 992px) {
  .drop-down .col {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 100%;
    flex: 1 0 0%;
  }
}
.drop-down .col.bg-gray {
  background-color: #f7f8fc;
}
.drop-down .main-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #737a96;
  display: block;
  margin-bottom: 15px;
}
@media screen and (min-width: 992px) {
  .drop-down.drop-small {
    max-width: 460px;
  }
}
@media screen and (min-width: 992px) {
  .drop-down.drop-medium {
    max-width: 850px;
  }
}

@media screen and (min-width: 992px) {
  #nav {
    flex: 1;
    padding-bottom: 3px;
  }
}

@media screen and (min-width: 992px) {
  .navigation {
    display: flex;
    position: static;
    width: auto;
    background: none;
    justify-content: center;
  }
}
.navigation a {
  text-decoration: none;
  color: #1c0732;
}
@media screen and (min-width: 992px) {
  .navigation a {
    color: #fff;
  }
}
.navigation > li {
  padding: 0 24px;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .navigation > li {
    padding: 0 48px;
  }
}
@media screen and (min-width: 992px) {
  .navigation > li {
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation > li {
    padding: 0 20px;
  }
}
@media screen and (min-width: 992px) {
  .navigation > li:hover .drop-down {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
.navigation > li > a {
  padding: 12px 0;
  display: block;
}
@media screen and (min-width: 992px) {
  .navigation > li > a {
    position: relative;
    padding: 0;
  }
}
.navigation > li > a span {
  position: relative;
  padding: 8px 0;
  display: inline-block;
  vertical-align: top;
}
.navigation > li > a span:after {
  position: absolute;
  bottom: 4px;
  left: 0;
  height: 2px;
  background: currentColor;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.6s 0.1s cubic-bezier(0.25, 1, 0.5, 1);
  transform-origin: right;
  content: "";
}
.navigation > li > a span:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}
@media (max-width: 991px) {
  .navigation > li > a.active + .drop-down {
    transform: translateX(0);
  }
}

@media screen and (min-width: 992px) {
  .sub-menu-1 li,
.sub-menu li {
    padding: 10px 0;
  }
}
.sub-menu-1 .icon,
.sub-menu .icon {
  width: 1.5rem;
  min-width: 1.5rem;
  height: 1.5rem;
  min-height: 1.5rem;
  margin-right: 16px;
}
@media screen and (min-width: 992px) {
  .sub-menu-1 .icon,
.sub-menu .icon {
    width: 56px;
    height: 56px;
    background-color: #f2f1fa;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.sub-menu-1 .info,
.sub-menu .info {
  flex: 1;
  color: #92889d;
}
.sub-menu-1 .desc,
.sub-menu .desc {
  display: none;
}
@media screen and (min-width: 992px) {
  .sub-menu-1 .desc,
.sub-menu .desc {
    padding-top: 3px;
    margin-bottom: 0;
    display: block;
    font-weight: 400;
  }
}
.sub-menu-1 .title,
.sub-menu .title {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: #130522;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .sub-menu-1 .title,
.sub-menu .title {
    color: #130522;
    line-height: 1;
    font-size: 16px;
  }
}
.sub-menu-1 a,
.sub-menu a {
  display: flex;
  align-items: center;
  padding: 11px 0;
}
@media screen and (min-width: 992px) {
  .sub-menu-1 a,
.sub-menu a {
    padding: 0;
  }
}
.sub-menu-1 a:hover *,
.sub-menu a:hover * {
  color: #52bd94 !important;
}
.sub-menu-1 + .main-title,
.sub-menu + .main-title {
  padding-top: 24px;
  margin-bottom: 12px;
}

.sub-menu-1 .icon {
  display: none;
}
@media screen and (min-width: 992px) {
  .sub-menu-1 .icon {
    width: 20px;
    height: 20px;
    padding-top: 2px;
    margin-right: 9px;
    background: none;
    display: block;
  }
}
.sub-menu-1 a {
  align-items: flex-start;
  padding: 8px 0 7px;
}
@media screen and (min-width: 992px) {
  .sub-menu-1 a {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .sub-menu-1 li {
    padding-bottom: 17px;
  }
}
.sub-menu-1 .title {
  font-size: 14px;
  font-weight: normal;
  color: #92889d;
}
@media screen and (min-width: 992px) {
  .sub-menu-1 .title {
    font-weight: 500;
    color: #130522;
  }
}
.sub-menu-1.style-01 .title {
  color: #737a96;
}
@media screen and (min-width: 992px) {
  .sub-menu-1.style-01 .title {
    font-weight: 400;
  }
}
@media screen and (min-width: 992px) {
  .sub-menu-1.style-01 li {
    padding: 0 0 16px;
  }
}
@media screen and (min-width: 992px) {
  .sub-menu-1.style-01 li:last-child {
    padding-bottom: 6px;
  }
}

@media screen and (min-width: 768px) {
  .flex {
    margin: 0 -5px;
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .flex {
    padding: 8px 0 11px;
  }
}
@media screen and (min-width: 768px) {
  .flex .column {
    width: 100%;
    max-width: 100%;
    flex: 1 0 0%;
    padding: 0 5px;
  }
}
@media screen and (min-width: 992px) {
  .flex .column:nth-child(2) {
    max-width: 43%;
  }
}
.flex .sub-menu-1 a {
  align-items: center;
}

@media screen and (min-width: 992px) {
  .drop-medium .column:nth-child(2) {
    max-width: 48%;
  }
}
@media screen and (min-width: 992px) {
  .drop-medium .column.style-01:first-child {
    max-width: 46%;
  }
}
.drop-medium .column.style-01:nth-child(2) {
  max-width: 100%;
}
.drop-medium .sub-menu li {
  padding: 0 0 15px;
}
@media screen and (min-width: 992px) {
  .drop-medium .sub-menu-1 {
    padding-bottom: 5px;
  }
}
.drop-medium .main-title {
  margin-bottom: 16px;
}
@media screen and (min-width: 992px) {
  .drop-medium .main-title {
    margin-bottom: 14px;
  }
}
.drop-medium .main-title.style-01 {
  padding-top: 20px;
}
.drop-medium .main-title.style-02 {
  padding-top: 25px;
}
.drop-medium .bg-gray .main-title {
  margin-bottom: 19px;
}

@media screen and (min-width: 992px) {
  hr + .main-title {
    padding-top: 24px;
  }
}

.article-list {
  padding: 7px 0;
}
.article-list li {
  margin-bottom: 24px;
}
.article-list a {
  color: #343a40;
  display: flex;
  align-items: center;
}
.article-list a:hover {
  color: #52bd94;
}
.article-list .description {
  flex: 1;
}
.article-list .badge {
  display: inline-block;
  vertical-align: top;
  color: #4b98ff;
  background: #e2eeff;
  font-size: 10px;
  border-radius: 0.25rem;
  padding: 2px 16px;
  margin-bottom: 4px;
}
.article-list .badge.green {
  color: #52bd95;
  background: #e3f4ee;
}
.article-list .img-hold {
  width: 80px;
  height: 80px;
  margin-right: 24px;
}
.article-list .blog-title {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6;
}
.article-list .view-all {
  font-size: 12px;
  line-height: 14px;
  color: #8185a7;
  text-decoration: underline;
}
.article-list .view-all:hover {
  text-decoration: none;
}

.hide {
  display: none !important;
}

@media (max-width: 991px) {
  .nav-active .white-logo {
    display: none;
  }
}

.black-logo {
  display: none;
}
@media (max-width: 991px) {
  .nav-active .black-logo {
    display: block;
  }
}

@media (max-width: 991px) {
  body.nav-active {
    overflow: hidden;
  }
}

.nav-opener {
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
  right: 24px;
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .nav-opener {
    right: 48px;
  }
}
@media screen and (min-width: 992px) {
  .nav-opener {
    display: none;
  }
}
.nav-opener span span {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background: #fff;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, background 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .nav-opener span span {
    display: block;
  }
}
.nav-opener:before, .nav-opener:after {
  position: absolute;
  left: 0;
  width: 100%;
  top: 20%;
  background: #fff;
  height: 2px;
  content: "";
  transition: transform 0.3s ease-in-out;
}
.nav-opener:after {
  top: auto;
  top: 78%;
}
.nav-active .nav-opener span span {
  transform: translate(-50%, -100%);
  opacity: 0;
  background-color: #1c0732;
}
.nav-active .nav-opener:before, .nav-active .nav-opener:after {
  transform: rotate(45deg);
  top: 50%;
  background-color: #1c0732;
}
.nav-active .nav-opener:after {
  transform: rotate(-45deg);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #52BD94;
  border: 2px solid #52BD94;
  font-size: 16px;
  line-height: 1.6;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  padding: 13px 22px;
}
.btn:hover {
  background: #068465;
  border-color: #068465;
}

hr {
  margin: 17px 0 20px;
  border-color: #d9d6ef;
  border-top: 0;
}

.social-networks {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.social-networks li {
  margin: 0 8px 8px;
}

@media screen and (min-width: 992px) {
  .hide-md {
    display: none;
  }
}

.hide-small {
  display: none;
}
@media screen and (min-width: 576px) {
  .hide-small {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .hide-small {
    display: none;
  }
}

.white-link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .white-link {
    position: relative;
  }
}
.white-link:after {
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  background: currentColor;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.6s 0.1s cubic-bezier(0.25, 1, 0.5, 1);
  transform-origin: right;
  content: "";
  display: none;
}
@media screen and (min-width: 992px) {
  .white-link:after {
    display: block;
  }
}
.white-link:hover:after {
  transform: scaleX(1);
  transform-origin: left;
}

.sm-text {
  font-size: 14px;
  line-height: 21px;
}

.content-section {
  padding: 50px 0 79px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .content-section {
    padding: 0 0 67px;
    margin-top: -107px;
  }
}
@media screen and (min-width: 992px) {
  .content-section .content {
    padding: 6px 0 0 17px;
  }
}
.content-section h2 {
  color: #1C0732;
  text-align: center;
  margin-bottom: 27px;
}
@media screen and (min-width: 576px) {
  .content-section h2 {
    text-align: left;
    margin-bottom: 25px;
  }
}
.content-section li {
  margin-bottom: 17px;
  position: relative;
  padding-left: 44px;
}
@media screen and (min-width: 992px) {
  .content-section li {
    padding-left: 51px;
    margin-bottom: 20px;
  }
}
.content-section li:before {
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  content: "\e900";
  font-size: 17px;
  color: #6156BB;
  margin-top: 2px;
}
.content-section li:after {
  width: 22px;
  height: 16px;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 2px;
  content: "";
  background: url(https://gopages.segment.com/rs/667-MPQ-382/images/icon-checked.svg);
  background-size: cover;
}
.content-section .img-hold {
  margin: 0 -7px;
  padding-top: 5px;
}
@media screen and (min-width: 992px) {
  .content-section .img-hold {
    padding: 8px 7px;
    max-width: 654px;
    margin: 0 auto 0 13px;
  }
}

@media screen and (min-width: 768px) {
  .row-reverse-md {
    flex-direction: row-reverse;
  }
}

.align-center {
  align-items: center;
}

.link {
  font-size: 18px;
  color: #A89CB4;
  font-weight: 600;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 23px 6px 0;
}
.link img {
  position: absolute;
  top: 7px;
  right: 0;
}
.link:before {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: currentColor;
  width: 100%;
  transform: scaleX(0);
  transition: transform 0.6s 0.1s cubic-bezier(0.25, 1, 0.5, 1);
  transform-origin: right;
  content: "";
}
.link:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.logo-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 896px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width: 576px) {
  .logo-list ul {
    width: 1204px;
  }
}
@media screen and (min-width: 992px) {
  .logo-list ul {
    width: 1512px;
  }
}
.logo-list li {
  max-width: 64px;
  flex: 0 0 64px;
  height: 64px;
  padding: 3px;
}
@media screen and (min-width: 576px) {
  .logo-list li {
    max-width: 86px;
    flex: 0 0 86px;
    padding: 6px;
    height: 86px;
  }
}
@media screen and (min-width: 992px) {
  .logo-list li {
    max-width: 108px;
    flex: 0 0 108px;
    height: 108px;
    padding: 6px;
  }
}
.logo-list li:nth-child(even) {
  transform: translateY(8px);
}
@media screen and (min-width: 768px) {
  .logo-list li:nth-child(even) {
    transform: translateY(18px);
  }
}
.logo-list img {
  width: 48px;
  height: 48px;
}
.logo-list span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 100%;
  background: #352446;
}
@media screen and (min-width: 768px) {
  .logo-list span {
    padding: 10px;
    border-radius: 10px;
  }
}

#footer {
  background: #1C0732;
  color: #A89CB4;
  padding: 37px 0 22px;
  font-size: 14px;
  line-height: 1.1429;
  margin: 0 -9px;
}
@media screen and (min-width: 768px) {
  #footer {
    padding: 39px 40px 22px;
  }
}
#footer .title {
  display: block;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 27px;
  color: #fff;
}
#footer .f-nav-item {
  padding-top: 45px;
}
#footer a {
  text-decoration: none;
  color: #A89CB4;
}
#footer a:hover {
  color: #fff;
}
#footer .form {
  padding: 0 0 24px;
}
@media screen and (min-width: 768px) {
  #footer .form {
    padding-bottom: 23px;
  }
}
#footer .form input[type=email] {
  height: 56px;
  padding: 10px 20px 13px;
  color: rgba(237, 235, 239, 0.6);
}
#footer .form input[type=email]::-webkit-input-placeholder {
  color: rgba(237, 235, 239, 0.6);
}
#footer .form input[type=email]::-moz-placeholder {
  opacity: 1;
  color: rgba(237, 235, 239, 0.6);
}
#footer .form input[type=email]:-moz-placeholder {
  color: rgba(237, 235, 239, 0.6);
}
#footer .form input[type=email]:-ms-input-placeholder {
  color: rgba(237, 235, 239, 0.6);
}
#footer .form input[type=email].placeholder {
  color: rgba(237, 235, 239, 0.6);
}
@media screen and (min-width: 768px) {
  #footer .form input[type=email] {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 992px) {
  #footer .form input[type=email] {
    margin-bottom: 0;
    padding-left: 17px;
    padding-right: 17px;
  }
}
@media screen and (min-width: 768px) {
  #footer .form form {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  #footer .form form {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  #footer .form button {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  #footer .form button {
    width: auto;
  }
}
#footer .logo {
  margin-bottom: 62px;
}
#footer .content-r {
  margin-left: auto;
  margin-bottom: 18px;
}
@media screen and (min-width: 768px) {
  #footer .content-r {
    max-width: 408px;
  }
}
#footer .social-networks {
  padding: 0 24px;
}
@media screen and (min-width: 576px) {
  #footer .social-networks {
    max-width: 144px;
    flex: 0 0 144px;
  }
}
@media screen and (min-width: 768px) {
  #footer .social-networks {
    padding: 2px 15px 0;
    max-width: 126px;
    flex: 0 0 126px;
  }
}

.footer-b,
.footer-m {
  padding: 42px 0 0;
}
@media screen and (min-width: 992px) {
  .footer-b,
.footer-m {
    padding: 50px 65px 0;
  }
}
@media screen and (min-width: 576px) {
  .footer-b,
.footer-m {
    padding: 50px 25px 0;
  }
}
.footer-b .container,
.footer-m .container {
  max-width: 1060px;
}

.footer-nav {
  margin-bottom: 51px;
}
.footer-nav li {
  margin-bottom: 16px;
}

.f-nav {
  padding: 0 25px 10px;
  flex: 1;
}
@media screen and (min-width: 768px) {
  .f-nav {
    padding: 0 15px;
  }
}
@media screen and (min-width: 576px) {
  .f-nav ul {
    display: flex;
    flex-wrap: wrap;
  }
}
.f-nav li {
  margin-bottom: 24px;
}
@media screen and (min-width: 576px) {
  .f-nav li {
    margin: 0 30px 15px 0;
  }
}
@media screen and (min-width: 1200px) {
  .f-nav li {
    margin: 0 32px 32px 1px;
  }
}

.footer-b {
  padding-top: 0;
}
.footer-b .container {
  padding-top: 46px;
  position: relative;
}
.footer-b .container:before {
  position: absolute;
  left: 34px;
  right: 34px;
  top: 15px;
  content: "";
  height: 1px;
  background-image: linear-gradient(to right, #28153d, #4b3a5c 50%, #28153d);
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .footer-b .container:before {
    left: 14px;
    right: 14px;
  }
}
.footer-b .row {
  display: block;
}
@media screen and (min-width: 576px) {
  .footer-b .row {
    display: flex;
  }
}

.footer-top {
  max-width: 1204px;
  margin: 0 auto 6px;
  padding-bottom: 18px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 992px) {
  .footer-top {
    padding: 62px 0 100px;
    max-width: 1512px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-top {
    padding-bottom: 156px;
  }
}
.footer-top:before, .footer-top:after {
  width: 150px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  content: "";
  background-image: linear-gradient(to right, #1C0732 0%, rgba(28, 7, 50, 0.005) 100%);
  background-repeat: repeat-x;
  z-index: 1;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .footer-top:before, .footer-top:after {
    width: 300px;
  }
}
.footer-top:after {
  left: auto;
  right: 0;
  background-image: linear-gradient(to right, rgba(28, 7, 50, 0.005) 0%, #1C0732 100%);
  background-repeat: repeat-x;
}
.footer-top .inner:after {
  background-image: linear-gradient(to bottom, rgba(28, 7, 50, 0.005) 0%, #1C0732 100%);
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  height: 70px;
  pointer-events: none;
}
@media screen and (min-width: 992px) {
  .footer-top .inner:after {
    height: 100px;
    bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-top .inner:after {
    bottom: 110px;
  }
}

.banner {
  background: #1C0732;
  color: #A89CB4;
  position: relative;
  padding: 38px 0 69px;
  font-size: 18px;
  line-height: 1.5556;
  position: relative;
  z-index: 1;
  margin-top: -1px;
  margin-bottom: 105px;
  background-image: linear-gradient(to bottom, #1C0732 0%, #1d0833 100%);
  background-repeat: repeat-x;
}
@media screen and (min-width: 576px) {
  .banner {
    font-size: 20px;
  }
}
@media screen and (min-width: 768px) {
  .banner {
    padding: 20px 33px 100px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .banner {
    padding: 65px 65px 270px;
    font-size: 24px;
    line-height: 40px;
  }
}
.banner.style-01 {
  margin-bottom: 0;
}
.banner:after {
  position: absolute;
  bottom: -1px;
  left: -1px;
  right: -1px;
  height: 71px;
  content: "";
  background-image: url(https://gopages.segment.com/rs/667-MPQ-382/images/bg.png);
  background-size: 100% 100%;
  background-position: 50% 100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .banner:after {
    height: 120px;
  }
}
@media screen and (min-width: 992px) {
  .banner:after {
    height: 211px;
  }
}
.banner .title {
  text-transform: uppercase;
  color: #A89CB4;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 13px;
}
@media screen and (min-width: 992px) {
  .banner .title {
    font-size: 18px;
    margin-bottom: 9px;
    letter-spacing: 0.08em;
  }
}
.banner h1 {
  color: #fff;
  margin-bottom: 18px;
}
@media screen and (min-width: 576px) {
  .banner h1 {
    line-height: 1.1429;
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .banner h1 {
    font-size: 48px;
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 1400px) {
  .banner h1 {
    font-size: 56px;
  }
}
.banner .sm-text {
  color: rgba(168, 156, 180, 0.7);
}
@media screen and (min-width: 992px) {
  .banner .sm-text {
    max-width: 400px;
  }
}
.banner .sm-text a {
  color: rgba(168, 156, 180, 0.7);
}
.banner .img-hold {
  padding: 21px 3px 0;
  margin: 0 auto -154px;
  max-width: 500px;
}
@media screen and (min-width: 768px) {
  .banner .img-hold {
    padding-right: 0;
    max-width: none;
  }
}
@media screen and (min-width: 1400px) {
  .banner .img-hold {
    padding: 60px 96px 0 55px;
  }
}
.banner .img {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .banner .form-holder {
    max-width: 500px;
    margin-left: auto;
  }
}
.banner .form-holder button {
  width: 100%;
}
.banner .form-holder .sm-text {
  padding-top: 20px;
  max-width: none;
}

/*# sourceMappingURL=app.css.map*/