// ---------------------------------------------------------===
// Forms
// ---------------------------------------------------------===

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

select.mktoField,
.mktoForm input[type=text], 
.mktoForm input[type=url], 
.mktoForm input[type=email], 
.mktoForm input[type=tel], 
.mktoForm input[type=number], 
.mktoForm input[type=date],
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: $form-border-radius;;
  border-radius: $form-border-radius;
  box-sizing: border-box;
  border: 1px solid $form-element-border-color !important;
  color: rgba(#EDEBEF, 0.7) !important;
  padding: 10px 16px 12px !important;
  height: 52px !important;
  background: $form-element-bg !important;
  font-size: 16px !important;
  outline: none;
  width: 100% !important;
  margin-bottom: 16px;
  box-shadow: none !important;
  font-family: $base-font-sans-serif !important;

  @include media('screen', '>=phone') {
    height: 56px !important;
  }

  @include media('screen', '>=desktop') {
    padding: 10px 19px 14px !important;
  }
  
  &:focus,
  &:hover {
    border-color: rgba(255,255,255,0.1) !important;
    box-shadow: 0px 0px 0px 1px rgba(255,255,255,0.1) !important;
  }
  
  @include placeholder {
    color: $placeholder-color;
  }

  &.mktoInvalid {
    border: 1px solid rgb(238, 92, 109) !important;
    box-shadow: rgb(238 92 109) 0px 0px 0px 1px !important;
  }
}

select {
  -webkit-border-radius: $form-border-radius;;
}

textarea {
  resize: vertical;
  vertical-align: top;
  min-height: 150px;
}

.mktoForm .mktoButton,
button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: $form-border-radius;;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: color(green, 1) !important;
  border: 2px solid color(green, 1) !important;
  font-size: 18px !important;
  line-height: 1.6;
  color: color(white);
  border-radius: 5px;
  text-decoration: none;
  padding: 11px 10px 12px !important;
  @include animate(color border-color background);
  box-shadow: none !important;
  width: 100%;

  @include media('screen', '>=desktop') {
    font-size: 16px;
    padding: 12px 22px 13px !important;
  }

  &:hover {
    background: color(green,2) !important;
    border-color: color(green, 2) !important;
  }
}

@if $niceSelect {
  .nice-select {
    position: relative;
    font-size: 16px;
    line-height: 1.3;
    display: inline-block;
    vertical-align: top;

    [data-select] {
      display: block;
      border: 1px solid color(black,2);
      border-radius: 3px;
      color: rgba(#4A4A4A, .46);
      background-color: color(white);
      padding: 9px 33px 9px 15px;
      position: relative;
      text-decoration: none;
      @extend .ellipsis;
      @include animate(color);

      &:after {
        content: '\e901';
        font: 7px/1 icomoon;
        right: 13px;
        color: color(black);
        @include box-align(vc);
      }

      &.active,
      &.selected,
      &:hover {
        color: color(black);
      }

      &.active {
        &:after { content: '\e900'; }
      }
    }

    ul {
      @extend %listreset;
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      right: 0;
      border: 1px solid color(black,2);
      background-color: color(white);
      box-shadow: 0 0 5px color(black, 1a2);
      box-shadow: 0px 12px 14px rgba(0, 0, 0, 0.3);
      margin-top: -2px;
      border-radius: 0 0 3px 3px;

      li {
        border-bottom: 1px solid color(black, 1a2);

        &:last-child {
          border-bottom: none;
        }
      }

      a {
        text-decoration: none;
        display: block;
        color: color(black);
        padding: 10px 14px;
        @include animate(color background-color);
      }

      .active a,
      a:hover {
        background-color: color(black);
        color: color(white);
      }
    }
  }
}

@if $niceCheckRadio {
  .nice-form {
    input[type="checkbox"],
    input[type="radio"] {
      position: absolute;
      visibility: hidden;
      opacity: 0;

      &:checked + .nice-label:before,
      & + .nice-label:hover:before {
        border-color: color(black);
      }
    }

    input[type="checkbox"],
    input[type="radio"].square {
      & + .nice-label:before {
        border-radius: 2px;
      }

      &:checked + .nice-label:before {
        content: '\e907';
        background-color: color(black);
        color: color(white);
      }
    }

    input[type="radio"] {
      & + .nice-label:before {
        border-radius: 50%;
      }

      &:checked + .nice-label:before {
        background-color: transparent;
        content: '\e917';
        color: color(black);
        font-size: 12px;
        padding-left: 1px;
      }
    }

    .nice-label {
      padding-left: 30px;
      display: inline-block;
      vertical-align: top;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 1px;
        width: 20px;
        height: 20px;
        border: 1px solid color(black,2);
        background-color: color(white);
        font: 10px/1 icomoon;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        @include animate(border-color background-color color);
      }
    }
  }
}

select.mktoField {
    background: $form-element-bg url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='gray'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat !important;
    background-size: 16px !important;
    background-position: calc(100% - 9px) 22px !important;
    background-repeat: no-repeat;
    appearance: none;
    -webkit-appearance: none;
    padding-right: 30px !important;

    @include media('screen', '>=tablet') {
      background-position: calc(100% - 9px) 24px !important;
    }
}

.form {
  padding: 25px 0 18px;

  @include media('screen', '>=desktop') {
    padding-top: 22px;
  }

  .mktoError {
    display: none !important;
  }

  .mktoFormRow {
    margin: 0 !important;

    @include media('screen', '>=phone') {
      margin: 0 9px 0 0 !important;
    }
  }

  .mktoForm {
    .mktoButtonRow {
      padding-top: 0 !important;
    }

    .mktoLabel {
      display: none !important;
    }
  }

  .mktoButtonRow {
    padding-top: 0;
  }

  input[type=email] {
    @include media('screen', '>=phone') {
      flex: 1;
      margin-right: 9px;
    }
  }

  .mktoLabel {
    display: none;
  }

  form {
    @include media('screen', '>=phone') {
      display: flex;
      max-width: 407px;
      align-items: flex-start;
    }
  }

  button {
    display: block;
    width: 100%;

    @include media('screen', '>=phone') {
      width: auto;
    }
  }
}

.mktoForm {
  width: 100% !important;
  padding: 0 !important;

  * {
    padding: 0;
  }

  .mktoFormRow {
    margin-bottom: 20px !important;
  }

  .mktoAsterix {
    float: right !important;
    padding-left: 5px !important;
    display: none !important;
  }

  .mktoFieldWrap {
    float: none;
  }

  .mktoOffset {
    width: 0 !important;
  }

  .mktoFormCol {
    float: none !important;
  }

  .mktoGutter {
    width: 0 !important;
  }

  .mktoCheckboxList {
    padding: 0 !important;
    margin: 0 12px 0 0 !important;
    width: 20px !important;
    height: 20px !important;
    width: auto !important;

    label {
      width: 20px;
      height: 20px;
      position: relative;
      display: block;
      border-radius: 2px;
      border: 2px solid #352446;
      margin: 3px 0 0 !important;
      @include animate(background);

      &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        width: 10px;
        height: 7px;
        border-left: 2px solid #fff;
        border-bottom: 2px solid #fff;
        content: "";
        margin-top: -1px;
        opacity: 0;
        @include animate(opacity);
      }
    }

    input {
      opacity: 0;
      position: absolute;

      &:checked {
        + label {
          background: #352446;

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  .mktoLabel {
    width: auto!important;
    color: rgba(#A89CB4, 0.7);
    padding-bottom: 10px;
    font-weight: 400;
    float: none !important;
    display: inline-block;
    vertical-align: bottom;
    max-width: calc(100% - 32px);

    strong {
      padding: 0;
    }
  }

  .mktoFieldWrap {
    width: 100%;
    float: none !important;
  }

  .mktoFormCol {
    margin-bottom: 0 !important;
  }

  .mktoButtonRow {
    display: block;
    // padding-top: 20px;
  }

  .mktoButtonWrap {
    margin: 0 !important;
  }

  .mktoRadioList {
    width: 100% !important;

    label {
      margin: 0 0 15px 0 !important;
      padding: 4px 0 4px 32px !important;
      color: rgba(#A89CB4, 0.7);
      font-size: 13px;
      position: relative;

      &:after,
      &:before {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #352446;
        position: absolute;
        left: -2px;
        top: 0;
        content: "";
        @include animate(opacity background);
      }

      &:after {
          width: 10px;
          height: 10px;
          background: #fff;
          border: none;
          left: 3px;
          top: 5px;
          opacity: 0;
      }
    }

    input {
      opacity: 0;
      position: absolute;

      &:checked {
        + label {

          &:before {
            background: #352446;
          }

          &:after {
            opacity: 1;
          }
        }
      }
    }
  }

  .mktoError {
    position: relative !important;
    right: auto !important;
    left: 0 !important;
    bottom: -10px !important;

    .mktoErrorArrowWrap {
      display: none !important;
    }

    .mktoErrorMsg {
      max-width: none !important;
      box-shadow: none !important;
      background: none !important;
      border-width: 0 !important;
      color: rgb(238, 92, 109) !important;
      font-size: 14px;
      margin-top: 0 !important;
      padding: 4px 0 0 !important;

      .mktoErrorDetail {
        display: inline-block !important;
      }
    }
  }
}