// ---------------------------------------------------------===
// Common styles
// ---------------------------------------------------------===

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: color(green, 1);
  border: 2px solid color(green, 1);
  font-size: 16px;
  line-height: 1.6;
  color: color(white);
  border-radius: 5px;
  text-decoration: none;
  padding: 13px 22px;

  &:hover {
    background: color(green,2);
    border-color: color(green, 2);;
  }
}

hr {
  margin: 17px 0 20px;
  border-color: rgb(217, 214, 239);
  border-top: 0;
}

.social-networks {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -8px;

  li {
    margin: 0 8px 8px;
  }
}

.hide-md {
  @include media('screen', '>=desktop') {
    display: none;
  }
}

.hide-small {
  display: none;

  @include media('screen', '>=phone') {
    display: block;
  }

  @include media('screen', '>=desktop') {
    display: none;
  }
}

.white-link {
  text-decoration: none;
  color: color(white);
  font-weight: 500;
  
  @include media('screen', '>=desktop') {
    position: relative;
  }

  &:after {
    position: absolute;
    bottom: -4px;
    left: 0;
    height: 2px;
    background: currentColor;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.6s 0.1s cubic-bezier(0.25, 1, 0.5, 1);
    transform-origin: right;
    content: "";
    display: none;

    @include media('screen', '>=desktop') {
      display: block;
    }
  }

  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.sm-text {
  font-size: 14px;
  line-height: 21px;
}

.content-section {
  padding: 50px 0 79px;
  position: relative;
  z-index: 1;

  @include media('screen', '>=desktop') {
    padding: 0 0 67px;
    margin-top: -107px;
  }

  .content {
    @include media('screen', '>=desktop') {
      padding: 6px 0 0 17px;
    }
  }

  h2 {
    color: #1C0732;
    text-align: center;
    margin-bottom: 27px;

    @include media('screen', '>=phone') {
      text-align: left;
      margin-bottom: 25px;
    }
  }

  ul {
    @extend %listreset;
  }

  li {
    margin-bottom: 17px;
    position: relative;
    padding-left: 44px;

    @include media('screen', '>=desktop') {
      padding-left: 51px;
      margin-bottom: 20px;
    }

    &:before {
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      // font-family: "icomoon";
      content: "\e900";
      font-size: 17px;
      color: #6156BB;
      margin-top: 2px;
    }

    &:after {
      width: 22px;
      height: 16px;
      position: absolute;
      left: 2px;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 2px;
      content: "";
      background: url(https://gopages.segment.com/rs/667-MPQ-382/images/icon-checked.svg);
      background-size: cover;
    }
  }

  .img-hold {
    margin: 0 -7px;
    padding-top: 5px;

    @include media('screen', '>=desktop') {
      padding: 8px 7px;
      max-width: 654px;
      margin: 0 auto 0 13px;
    }
  }
}

.row-reverse-md {
  @include media('screen', '>=tablet') {
    flex-direction: row-reverse;
  }
}

.align-center {
  align-items: center;
}


.link-holder {
}

.link {
  font-size: 18px;
  color: #A89CB4;
  font-weight: $font-semibold;
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 23px 6px 0;

  img {
    position: absolute;
    top: 7px;
    right: 0;
  }
  
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: currentColor;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.6s 0.1s cubic-bezier(0.25, 1, 0.5, 1);
    transform-origin: right;
    content: '';
  }

  &:hover {
    &:before {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.logo-list {

  ul {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 896px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    @include media('screen', '>=phone') {
      width: 1204px;
    }

    @include media('screen', '>=desktop') {
      width: 1512px;
    }
  }

  li {
    max-width: 64px;
    flex: 0 0 64px;
    height: 64px;
    padding: 3px;

    @include media('screen', '>=phone') {
      max-width: 86px;
      flex: 0 0 86px;
      padding: 6px;
      height: 86px;
    }

    @include media('screen', '>=desktop') {
      max-width: 108px;
      flex: 0 0 108px;
      height: 108px;
      padding: 6px;
    }

    &:nth-child(even) {
      transform: translateY(8px);

      @include media('screen', '>=tablet') {
        transform: translateY(18px);
      }
    }
  }

  img {
    width: 48px;
    height: 48px;
  }

  span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    border-radius: 5px;
    border: 1px solid transparent;
    width: 100%;
    background: rgb(53, 36, 70);

    @include media('screen', '>=tablet') {
      padding: 10px;
      border-radius: 10px;
    }
  }
}